<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/_head %>
  <!-- <link rel="stylesheet" href="dashboard.css"> -->
  <title><%= username %>'s Dashboard</title>
</head>
<body>
  <!-- TODO: REPLACE WITH OTHER HEADER / IF USER LOGGED IN OR NOT DISPLAY LOGOUT -->
  <header>
    <h1 class="h1-header animated bounceInLeft">SOCIALIZD</h1>
    <div class = "logout-create-btn">
      <form method="GET" action="/create-poll">
        <button class="btn create-btn" type="submit">CREATE NEW POLL</button>
      </form>
      <form method="POST" action="/logout">
        <button class="btn logout-btn" type="submit">LOGOUT</button>
      </form>
    </div>
    <div class="username-header">
      <p>HELLO, <%= username.toUpperCase() %>!</p>
      
    </div>
  </header>

    <section class="polls-table">
      <% if (locals.pollIds) { %>
         <table class="table">
           <thead>
             <tr>
               <th>POLL TITLE</th>
               <th>DATE CREATED</th>
               <th></th>
               <th></th>
             </tr>
           </thead>
           <tbody>
             <% for (let i=0; i < pollTitles.length; i++) { %>
             <tr>
               <td><%= pollTitles[i] %></td>
               <td><%= createdDates[i]%></td>
               <td><a class=".view" href="#" id="<%= pollIds[i] %>">View Poll</a></td>
               <td><a href="/poll/<%= pollIds[i] %>" id="#">Copy Poll Link</a></td>
             </tr>
             <% } %>
           </tbody>
         </table>
      <% } else { %>
        <h3>You haven't created any polls yet!</h3>
      <% } %>
     
    </section>

    <section class="view-graph">
      <span class="close">X</span>
      <div class="donut" style="height:450px; width:450px; width: 40%;"></div>
      <div class="submit-btns">
        <div class="view">
          <form class="view-submit" method="GET" action="/">
            <button class="view-btn btn" type="submit">VIEW RESULTS</button>
          </form>
        </div>
        <div class="delete">
          <form class="delete-submit" method="POST" action="/poll/id/delete">
            <button class="delete-btn btn" type="submit">DELETE POLL</button>
          </form>
        </div>
      
      </div>
    </section>
  <% include ./partials/_footer %>
  </body>
</html>
