<!DOCTYPE html>
<html lang="en">

<head>
  <title>Poll: <%= pollTitle %></title>

  <% include ./partials/_head %>

</head>

<body>
    <div class="pagewrap">
      <form class="form" id="form" method='POST' action='/poll/<%= pollId %>'>
      <form class="form" id="form"'>
        <div class="form__poll_title">
          <%= pollTitle %>
        </div>

        <!-- TODO: Add header telling the voter to rank the following options-->
        <ul id="draggable">

          <% for (let key in options) { %>
             <li> <%= options[key] %> <input type='hidden' name='optionsPos[]' value='<%= key %>'></li>
          <% } %>

          </ul>

         <div class="form__buttons">
           <input class="form__submit" id="form__submit" type="submit" value="Submit"></input>
         </div>
      </form>
    </div>


  <% include ./partials/_footer %>
</body>

</html>
